@model UserViewModel
@{
    ViewData["Title"] = "Dashboard";
    var CustomerRoles = CommonService.CustomerRoles();
    var Customers = AdminCommonService.Customers();
}
<div>
    <form asp-controller="User" asp-action="SaveUser" method="post" role="form">
        <div class="modal-header green-top">
            <h6 class=" subtitle1 p-0 bold">Add User</h6>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <i class="m-r-10 mdi txt-black mdi-close"></i>
            </button>
        </div>

        <div class="modal-body">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 m-t-20">
                    <div class="form__group  ">
                        <div class="mdl-selectfield ">
                            <i class="dropdown1 mdi mdi-menu-down"></i>
                            <select class="browser-default" asp-items="@Customers" asp-for="CustomerId">
                            </select>
                        </div>
                        <label for="text" class="form__label">@Html.LabelFor(x => x.CustomerId)</label>
                    </div>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 m-t-20">
                    <air-input asp-for="FirstName"></air-input>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 m-t-20">
                    <air-input asp-for="LastName"></air-input>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 m-t-20">
                    <air-input asp-for="Email"></air-input>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 m-t-20">
                    <air-input asp-for="WorkTitle"></air-input>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 m-t-20">
                    <air-input asp-for="PhoneNumber"></air-input>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 m-t-20">
                    <div class=" form__group mb-20">
                        <div class="mdl-selectfield m-b-20">
                            <i class="dropdown1 mdi mdi-menu-down"></i>
                            <select id="CountryId" asp-for="Role" asp-items="@CustomerRoles" class="browser-default">
                            </select>
                        </div>
                        <label for="text" class="form__label">@Html.LabelFor(x => x.Role)</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <div class="col-md-12 pb-30">
                @Html.HiddenFor(x => x.Id)
                @Html.HiddenFor(x => x.UserName)
                @Html.HiddenFor(x => x.UserStatus)
                @Html.HiddenFor(x => x.CreationDate)
                @Html.HiddenFor(x => x.ApprovedDate)
                @Html.HiddenFor(x => x.ActivatedDate)
                @Html.HiddenFor(x => x.SignedUpDate)
                @Html.HiddenFor(x => x.IsApproved)
                @Html.HiddenFor(x => x.IsEmployee)
                @Html.HiddenFor(x => x.UserName)
                @Html.HiddenFor(x => x.IsActive)
                <button class="btn float-right btn-primary" data-dismiss="modal">DISCARD CHANGES</button>
                <button class="btn float-right btn-secondary">SAVE & CLOSE</button>
            </div>
        </div>
    </form>


</div>
