@using Aircon.Areas.Customer.Models.Contact
@using Aircon.Data.Security;

@model CustomerContactListViewModel
@{
    Layout = "_CustomerSettingLayout";
    ViewData["Title"] = "Contact Book";
    TempData["SearchText"] = "";
    TempData["SearchController"] = "Contact";
}
<div class="col-md-12">
    <div class="form__group m-b-30">
        <air-grid-search asp-search-action="Index" asp-placeholder="Search for a contact">
        </air-grid-search>
        <div class="addbtn">
            <button class="customercontactadd btn float-right btn-primary"><i class="mdi mdi-plus w-hidden "></i><span class="m-hidden">ADD CONTACT</span></button>
        </div>
    </div>
</div>

@{
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        @foreach (var items in Model.Contacts.GroupBy(x => x.Contact.FirstName.Substring(0, 1).ToUpper(), (alphabet, subList) => new { Alphabet = alphabet, SubList = subList.OrderBy(x => x.Contact.FirstName).ToList() }).OrderBy(x => x.Alphabet))
        {
            <div class="">
                <div id="exTab3">
                    <ul class="nav nav-pills w-hidden">
                        <li>
                            <a href="#1b" data-toggle="tab" class="active show">
                                <h6 class="card-header">A</h6>
                            </a>
                        </li>
                    </ul>
                    <hr class="mt-0 w-hidden mb-0" />
                    <div class="tab-contents">
                        <div class="tab-pane active" id="1b">
                            <div class="card">
                                <div class="row m-hidden">
                                    <div class="col-xl-6 col-lg-6 col-md-8 col-sm-12 col-12">
                                        <h6 class="card-header bold">@items.Alphabet</h6>
                                    </div>
                                </div>
                                <div id="CustomerContactContainer">
                                    <div class="p-0 mob-mt-40 card-body collapse show">
                                        <div id="CustomerContacts" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                            @foreach (var item in items.SubList)
                                            {
                                                <div class="table-card green">
                                                    <div class="row">
                                                        <div class="col-xl-2 col-lg-4 col-md-4 col-sm-12 col-12">
                                                            <h5 class="subtitle1">@item.Contact.FirstName @item.Contact.LastName</h5>
                                                        </div>
                                                        <div class="col-xl-1 col-lg-4 col-md-12 col-sm-12 col-12">
                                                            <figure class="figure p-l-10 p-t-20">
                                                                <figcaption class="figure-caption">
                                                                    <h6 class="figure-title">PHONE</h6>
                                                                    <p class="text-muted mb-0">@item.Contact.PhoneNumber</p>
                                                                </figcaption>
                                                            </figure>
                                                        </div>
                                                        <div class="col-xl-3 col-lg-4 col-md-12 col-sm-12 col-12">
                                                            <figure class="figure p-l-10 p-t-20">
                                                                <figcaption class="figure-caption">
                                                                    <h6 class="figure-title">EMAIL</h6>
                                                                    <p class="text-muted mb-0">@item.Contact.Email</p>
                                                                </figcaption>
                                                            </figure>
                                                        </div>
                                                        <div class="col-xl-2 col-lg-4 col-md-12 col-sm-12 col-12">
                                                            <figure class="figure p-l-10 p-t-20">
                                                                <figcaption class="figure-caption">
                                                                    <h6 class="figure-title">COMPANY NAME</h6>
                                                                    <p class="text-muted mb-0">@item.Contact.CompanyName</p>
                                                                </figcaption>
                                                            </figure>
                                                        </div>
                                                        <div class="col-xl-2 col-lg-4 col-md-12 col-sm-12 col-12">
                                                            <figure class="figure p-l-10 p-t-20">
                                                                <figcaption class="figure-caption">
                                                                    <h6 class="figure-title">ADDRESS</h6>
                                                                    <p class="text-muted mb-0">@item.Address.GetFullAddress()</p>
                                                                </figcaption>
                                                            </figure>
                                                        </div>
                                                        <div class="col-xl-2 col-lg-4 col-md-7 col-sm-6 col-10">
                                                            <span asp-authorize asp-permission="@PermissionSystemName.DeleteCompanyContact" class="customercontactdelete float-right round-icon bdelete" data-id="@item.ContactId"> <i class="mdi mdi-delete" aria-hidden="true"></i></span>
                                                            <span class="customercontactedit float-right round-icon bedit" data-id="@item.ContactId"><i class="mdi mdi-pencil" aria-hidden="true"></i> </span>
                                                        </div>
                                                    </div>
                                                </div>

                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        }
    </div>
}

<air-grid-action-confirmation asp-class-id="customercontactdelete" asp-action-type="@GridActionConfirmType.DeleteContact" asp-action="DeleteContact" />
<air-grid-edit asp-partial="/Customer/Contact/EditContactPartial" asp-class-id="customercontactedit" />
<air-grid-edit asp-partial="/Customer/Contact/AddContactPartial" asp-class-id="customercontactadd" />



